[Unit]
Description=FirstBoot
After=network.target
Before=multi-user.target
ConditionFileNotEmpty=/kiosksetup/firstboot.sh

[Service]
UtmpIdentifier=tty1
TTYPath=/dev/tty1
TTYVHangup=yes
TTYVTDisallocate=yes
StandardOutput=tty-force
StandardInput=tty-force
StandardError=tty-force

ExecStart=/bin/bash -c "/kiosksetup/firstboot.sh"
ExecStartPost=/bin/mv /kiosksetup/firstboot.sh //kiosksetup/firstboot.done
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
